
    .pageNameContainer {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        max-width: 400px;
        border-right: 1px solid #ced4da;
        overflow: hidden;
    }

    .pageName {
        padding-left: 8px;
        line-height: 1.15;
        display: inline-block;
    }

    .pageNameRoute {
        display: block;
        font-size: 12px;
        color: #777;
    }
